body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2, p, button {
    font-size: 24px;
}

.board {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(135deg, #292E49, #536976);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    width: max-content;
}

.row {
    display: flex;
    gap: 10px;
}

.cell {
    width: 70px;
    height: 70px;
    background-color: #b4b4b4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, background-color 0.2s;
    cursor: pointer;
}

.cell:hover {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    background-color: #fff312e3;
}

.piece {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.red {
    background: radial-gradient(circle, #ff4c4c, #a20000, #ffd2d2);
}

.green {
    background: radial-gradient(circle, #00ff91, #0ea610, #22b5e6);
}

.game-info {
    margin-top: 20px;
}

.reset-button {
    display: block;
    margin: 20px auto;
    padding: 12px 24px;
    font-size: 20px;
    background-color: #2980b9;
    color: #f6f6f6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: #2471a3;
}

/* Media queries for mobile devices */
@media (max-width: 600px) {
    .board {
        padding: 10px;
        gap: 5px;
    }

    .row {
        gap: 5px;
    }

    .cell {
        width: 50px;
        height: 50px;
    }

    .piece {
        width: 45px;
        height: 45px;
    }
}